[project]
	description = An IRC channel/network mangement bot written in PERL.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/grobe0ba
[access "refs/for/refs/*"]
	read = group user/grobe0ba
	push = group user/grobe0ba
	label-Code-Review = -2..+2 group user/grobe0ba
	label-Verified = -1..+1 group user/grobe0ba
	rebase = group user/grobe0ba
	removeReviewer = group user/grobe0ba
	submit = group user/grobe0ba
[access "refs/heads/*"]
	read = group user/grobe0ba
	create = group user/grobe0ba
	push = +force group user/grobe0ba
	pushMerge = group user/grobe0ba
[access "refs/tags/*"]
	push = +force group user/grobe0ba
	pushTag = group user/grobe0ba
	pushSignedTag = group user/grobe0ba
